<div class="row">
	<div class="col-md-6">
		<div class="contact-item">
			<label>{{page.contact-phone-label}}</label>
			<div>{{site.phone}}</div>
		</div>
		<div class="contact-item">
			<label>{{page.email-label}}</label>
			<div>{{site.email}}</div>
		</div>
		<div class="contact-item">
			<label>{{page.address-label}}</label>
			<address>
				{{site.title}}<br>
				{{site.address}}
			</address>
		</div>
		<div class="contact-item">
			<label>{{page.license-label}}</label>
			<div>
			{{site.license}}
			</div>
		</div>
		<div class="contact-item">
			<label>{{page.reviews-label}}</label>
			<div>
				<img src="http://placehold.it/50x50" alt="google plus logo on a red circle" />
				<img src="http://placehold.it/50x50" alt="Better Business Logo" />
			</div>
		</div>
	</div>
	<div class="col-md-6">
		Contact Form
	</div>
</div>