<footer class="footer">
	<div class="copy">
		<div class="container">
			<span class="copyright">
				&copy; {{ site.time | date: '%Y' }} Rubin &amp; Rothman
			</span>
			<span class="terms-privacy">
				{% if page.spanishtheme == true %}
				<a href="{{site.es-link-terms | prepend: site.baseurl | prepend: site.url }}">{{site.es-terms-label}}</a>&nbsp;|&nbsp;
				<a href="{{site.es-link-policy | prepend: site.baseurl | prepend: site.url }}">{{site.es-policy-label}}</a>
				{% else %}
				<a href="{{site.link-terms | prepend: site.baseurl | prepend: site.url }}">{{site.terms-label}}</a>&nbsp;|&nbsp;
				<a href="{{site.link-policy | prepend: site.baseurl | prepend: site.url }}">{{site.policy-label}}</a>
				{% endif %}
			</span>
		</div>
	</div>
	<div class="disclamer">
		<div class="container">
			{% if page.spanishtheme == true %}
			<p>{{ site.es-disclamer }}</p>
			{% else %}
			<p>{{ site.disclamer }}</p>
			{% endif %}
		</div>
	</div>
</footer>