<div class="payment-options">
	<div class="card" id="payment-mail">
		<img src="{{'/images/pay-by-mail.png' | prepend: site.baseurl | prepend: site.url }}" alt="graphic icon of an envelope" />
		<h3>{{page.mail-label}}</h3>
		<address>
		<strong>{{site.title}}</strong><br>
		{{site.address}}
		</address>
	</div>
	<div class="card" id="payment-online">
		<span>{{page.recommended-label}}</span>
		{% if page.spanishtheme == true %}
		<img src="{{'/images/pagado.png' | prepend: site.baseurl | prepend: site.url }}" alt="graphic icon of a computer screen" />
		{% else %}
		<img src="{{'/images/pay-online.png' | prepend: site.baseurl | prepend: site.url }}" alt="graphic icon of a computer screen" />
		{% endif %}
		<h3>{{page.portal-label}}</h3>
		<p>{{page.payment-portal-teaser}}</p>
		<a href="{{page.payment-portal-link}}" target="_blank" rel="noopener">{{page.payment-portal-link-text}}</a>
	</div>
	<div class="card" id="payment-phone">
		<img src="{{'/images/pay-by-phone.png' | prepend: site.baseurl | prepend: site.url }}" alt="graphic icon of a phone" />
		<h3>{{page.payment-phone-label}}</h3>
		<p>{{page.payment-phone-teaser}}</p>
		<p><strong>{{site.phone}}</strong></p>
	</div>
</div>
