<div>
	<div class="steps-row-one">
		<div class="container">
			<div class="cheveron-content">
				<h2>{{ page.stepsheader }}</h2>
				<p>{{ page.stepsintro }}</p>
			</div>
			<div class="cheveron"></div>
		</div>
	</div>
	<div class="steps-row-two">
		<div class="container">
			<div class="row">
			{% assign count = 0 %}
			{% if page.spanishtheme == true %}
				{% for item in site.data.steps.stepsTeasersSpanish %}
				{% capture count %}{{ count | plus:1 }}{% endcapture %}
					<div class="step-teaser col-md-3  step-{{ count }}">
						<div class="cheveron-content">
							<img src="{{item.step-icon | prepend: site.baseurl | prepend: site.url}}" alt="{{item.img-alt}}"/>
							<h4>{{ item.header }}</h4>
							<h5>{{ item.text }}</h5>
						</div>
					
						<div class="cheveron"></div>
					</div>
				{% endfor %}
			{% else %}
				{% for item in site.data.steps.stepsTeasers %}
				{% capture count %}{{ count | plus:1 }}{% endcapture %}
				<div class="step-teaser col-md-3  step-{{ count }}">
					<div class="cheveron-content">
							<img src="{{item.step-icon | prepend: site.baseurl | prepend: site.url }}" alt="{{item.img-alt}}" />
							<h4>{{ item.header }}</h4>
							<h5>{{ item.text }}</h5>
						</div>
					<div class="cheveron"></div>
				</div>
					
				{% endfor %}
			{% endif %}
			</div>
		</div>
	</div>
	<div class="steps-row-three">
		<div class="container">
			<div class="cheveron"></div>
			<div class="cheveron-content">
				<img src="{{ page.phone-icon | prepend: site.baseurl | prepend: site.url}}" alt="graphic icon of a phone with a talk bubble coming out" />
				
				<div class="step-3-teaser">
					<h3 class="phone-cta">{{page.phone-cta}}</h3>
					<span class="phone-cta-number">{{site.phone}}</span>
				</div>
			</div>
		</div>
	</div>
</div>