//animations
$fadeInUpDuration: 0.9s;
$fadeInLeftDuration: 0.8s;
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
	// 20% {
	// 	opacity: 1;
	// }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
animation-duration: 1s;
animation-fill-mode: both;
  animation-name: pulse;
}

//A path forward transition: opacity only
#how-it-works .steps-row-one #row-one-copy {
	//transform: translateX(-50px);
	opacity: 0;
	transition: /*transform $fadeInLeftDuration,*/ opacity $fadeInLeftDuration;
	&.fadeInLeft {
		transform: translateX(0);
		opacity: 1;
	}
}
//fadeinLeft for steps 1-4
#how-it-works .steps-row-two .step-1 .step-container,
#how-it-works .steps-row-two .step-2 .step-container,
#how-it-works .steps-row-two .step-3 .step-container,
#how-it-works .steps-row-two .step-4 .step-container {
	transform: translateX(-50px);
	opacity: 0;
	transition: transform $fadeInLeftDuration, opacity 1s;
	&.fadeInLeft {
		transform: translateX(0);
		opacity: 1;
	}
}
.steps-row-three .step-3-teaser {
	opacity: 0;
	background-color: #dcdcdc;
	transition: opacity 1s, background-color 1s;
	&.fadeInUp {
		opacity: 1;
	}
}

#faq #accordion .card {
	transform: translateY(50px);
	opacity: 0;
	transition: transform $fadeInUpDuration, opacity $fadeInUpDuration;

	&.fadeInUp {
		transform: translateY(0);
		opacity: 1;
	}
}