.ie10 {

	.page-header-img {
		.container {
			margin-top: 145px;
		}
	}

	#how-it-works {
		.steps-row-three {
			.container {
				.cheveron-content {
					padding-top: 45px;
				}
			}
		}
	}

	.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu{
		top: 60px;
	}

}

.ie11{
	.navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu{
		top: 60px;
	}
}

_:-ms-lang(x), _:-webkit-full-screen, .ie11 .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu{
	top: 0px;
}


@supports (-ms-ime-align:auto) {
    .ie11 .navbar-dark .navbar-nav .nav-item.dropdown .dropdown-menu{
		top: 0px;
	}
}